  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li class="active">Home</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-box">

          <h1 class="page-title">Dashboard <a class="pull-right btn btn-default" href=""><span class="glyphicon glyphicon-cog"></span> Dashboard Settings</a></h1>
          <div class="row">
            <div class="col-md-6">
              <h2>Today you spent <div class="pull-right">45$</div></h2>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">4$</span>
                  1x Bread
                </li>
                <li class="list-group-item">
                  <span class="badge">7$</span>
                  2x Cola
                </li>
                <li class="list-group-item">
                  <span class="badge">12$</span>
                  1x Chocolate
                </li>
                <li class="list-group-item">
                  <span class="badge">5$</span>
                  3x Candy
                </li>
              </ul>
              <a href="" class="btn btn-default btn-lg btn-block">Show All</a>
            </div>
            <div class="col-md-6">
              <h2>Last week you spent <div class="pull-right">43000$</div></h2>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">40000$</span>
                  1x Audi R8
                </li>
                <li class="list-group-item">
                  <span class="badge">1300$</span>
                  1x Quadcopter
                </li>
                <li class="list-group-item">
                  <span class="badge">900$</span>
                  1x Washing Machine
                </li>
                <li class="list-group-item">
                  <span class="badge">800$</span>
                  1x Computer Monitor
                </li>
              </ul>
              <a href="" class="btn btn-default btn-lg btn-block">Show All</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h2>Your average monthly income is <div class="pull-right">50000$</div></h2>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">20000$</span>
                  Salary job 1
                </li>
                <li class="list-group-item">
                  <span class="badge">3200$</span>
                  Sold old car
                </li>
                <li class="list-group-item">
                  <span class="badge">20000$</span>
                  Salary job 2
                </li>
                <li class="list-group-item">
                  <span class="badge">40000$</span>
                  Sold house
                </li>
              </ul>
              <a href="" class="btn btn-default btn-lg btn-block">Show All</a>
            </div>
            <div class="col-md-6">
              <h2>Your average monthly expenses are <div class="pull-right">2300$</div></h2>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">60$</span>
                  30x Bread
                </li>
                <li class="list-group-item">
                  <span class="badge">130$</span>
                  40x Cola
                </li>
                <li class="list-group-item">
                  <span class="badge">26$</span>
                  13x Beer
                </li>
                <li class="list-group-item">
                  <span class="badge">1000$</span>
                  50x Gas
                </li>
              </ul>
              <a href="" class="btn btn-default btn-lg btn-block">Show All</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>