  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-box">

          <h1 class="page-title">Income <a class="pull-right btn btn-default" href=""><span class="glyphicon glyphicon-plus"></span> Enter Income</a></h1>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Source</th>
                      <th>Amount</th>
                      <th>Date</th>
                      <th colspan="2">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Job 1</td>
                      <td>1230$</td>
                      <td>Wednesday, October 1, 2014</td>
                      <td>The 9QN Project</td>
                      <td>
                        <div class="pull-right">
                          <button class="btn btn-default">View</button>
                          <button class="btn btn-default">Edit</button>
                          <button class="btn btn-default">Delete</button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Client 3</td>
                      <td>1230$</td>
                      <td>Wednesday, October 1, 2014</td>
                      <td>Laravel 3 Updated to Laravel 4</td>
                      <td>
                        <div class="pull-right">
                          <button class="btn btn-default">View</button>
                          <button class="btn btn-default">Edit</button>
                          <button class="btn btn-default">Delete</button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Job 2</td>
                      <td>1230$</td>
                      <td>Wednesday, October 1, 2014</td>
                      <td>Quadcopter Drone controller</td>
                      <td>
                        <div class="pull-right">
                          <button class="btn btn-default">View</button>
                          <button class="btn btn-default">Edit</button>
                          <button class="btn btn-default">Delete</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>