  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-box">

          <h1 class="page-title">Reminders <a class="pull-right btn btn-default" href=""><span class="glyphicon glyphicon-plus"></span> Create Reminder</a></h1>

          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Trigger Date</th>
                  <th>Trigger Time</th>
                  <th>Repeat</th>
                  <th>Name</th>
                  <th colspan="2">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>No date</td>
                  <td>11:05 PM</td>
                  <td>Forever</td>
                  <td>Buy Bread</td>
                  <td>Buying bread is Important!</td>
                  <td>
                    <div class="pull-right">
                      <button class="btn btn-default">View</button>
                      <button class="btn btn-default">Edit</button>
                      <button class="btn btn-default">Delete</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Wednesday, October 1, 2014</td>
                  <td>07:00 PM</td>
                  <td>Once</td>
                  <td>Buy Shaving cream</td>
                  <td>Buy Shaving cream for your self!</td>
                  <td>
                    <div class="pull-right">
                      <button class="btn btn-default">View</button>
                      <button class="btn btn-default">Edit</button>
                      <button class="btn btn-default">Delete</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>No date</td>
                  <td>11:05 PM</td>
                  <td>Forever</td>
                  <td>Buy Water</td>
                  <td>We need clean water.</td>
                  <td>
                    <div class="pull-right">
                      <button class="btn btn-default">View</button>
                      <button class="btn btn-default">Edit</button>
                      <button class="btn btn-default">Delete</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  

        </div>
      </div>
    </div>
  </div>